@model IEnumerable<Tuan4_Duykien.Models.GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GioHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.masach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tensach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thanhtien)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.masach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tensach)
            </td>
            <td> <img src="@item.hinh" width="180" /></td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { id = item.masach }))
            {
                <td>
                    @Html.@String.Format("{0:0,0}", item.giaban) VND
                </td>
                <td>
                    <input type="number" min="1" name="txtSoLuong" value="@item.soluong" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thanhtien)
                </td>
                <td>
                    <a href="@Url.Action("Detail","Sach", new { id = item.masach })"> Chi tiet</a> | @Html.ActionLink("Xoa", "XoaGioHang", new { id = item.masach })
                </td>
                <td><input type="submit" value="Cập nhật" class="btn btn-success" /></td>
            }
        </tr>
    }
    <tr style="font-weight:bold; text-align:left; color:red">
        <td colspan="2"> Số loại sách: @ViewBag.TongSoLuongSanPham</td>
        <td colspan="2"> Số lượng sách: @ViewBag.TongSoLuong</td>
        <td colspan="4"> Tổng tiền: @String.Format("{0:0,0}", @ViewBag.TongTien) VND</td>
    </tr>
    <tr style="font-weight:bold; color:yellow;text-align:right">
        <td colspan="5">
            @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatCaGioHang")
        </td>
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "Dat hang", "GioHang")
        </td>
    </tr>
</table>
